# Jinja2 Templates are most frequently used to generate configuration files.
# Here is a basic one.

a={{ a }}
b={{ b }}

# See the official Jinja2 documentation for information about conditionals, loops, and
# more inside of templates.



